# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# IDE
.vscode/
.idea/

# Data
data/raw/
data/processed/
data/final/

# Logs
*.log

# Secrets
config_secret.py
.env.local

#Temp files
*.tmp
*.temp

#csv checkpoints
*.csv